{% extends './base.html' %}
{% load static i18n %}

{% block title %}{% trans "Challenge 1" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% trans "Big database" %}</h1>
    </div>
</div>

<div class="row">
    <p class="text-justify">
        Primeiramente, deveriamos reanalisar as tabelas do banco para ver onde cabe a normalização.<br />
        Como há um grande volume de dados tentar utilizar indices e views.<br />
        Além de rever a forma como estão escritos as queries, assim analisariamos se pode usar formas de pesquisas mais efieciente, etc.<br />
    </p>
</div>

{% endblock content %}
