{% extends './base.html' %}
{% load static i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% trans "Challenge list" %}</h1>
    </div>
</div>

<div class="list-group">
    <a href="{% url 'big-data' %}" class="list-group-item list-group-item-action">{% trans "Challenge 1" %}</a>
    <a href="{% url 'imdb-list' %}" class="list-group-item list-group-item-action">{% trans "Challenge 2" %}</a>
    <a href="{% url 'missing-integer' %}" class="list-group-item list-group-item-action">{% trans "Challenge 3" %}</a>
</div>
{% endblock content %}
