{% extends './base.html' %}
{% load static i18n %}

{% block title %}{% trans "Challenge 2" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% trans "IMDB - Movie and Rating" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form class="form-inline">
            <div class="form-group mb-2">
                <input class="form-control" name="query" value="{{ query }}" placeholder="{% trans 'Search movies' %}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">{% trans "Search" %}</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for imdb in object_list %}
                <tr>
                    <td>{{ imdb.primary_title }}</td>
                    <td>{{ imdb.num_votes }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">{% trans "No movies and ratings yet." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?query={{ query }}&page={{ page_obj.previous_page_number }}"
                tabindex="-1">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <span class="page-link">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
