{% extends './base.html' %}
{% load static i18n %}

{% block title %}{% trans "Challenge 3" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% trans "Missing Interger" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form class="form-inline">
            <div class="form-group mb-2">
                <input class="form-control" name="query" value="{{ query }}" placeholder="{% trans 'Add list e.g.: [1, 3, 4]' %}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">{% trans "Find" %}</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Result" %}</th>
                </tr>
            </thead>
            <tbody>
                {% if query %}
                <tr>
                    <td>{{ result }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{% trans "No result yet. Digit a sequence!" %}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<h6>{% trans "This answer follow this" %}
    <a href="https://github.com/wzhishen/cracking-the-coding-interview/blob/master/src/chap05/Q7.java">{% trans "solution" %}</a>
</h6>
{% endblock content %}
